.main{
    display: flex;
    gap: 20px;
    /* justify-content: space-around; */
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}
.image{
    flex: 0 0 100px;
    display: block;
    max-width: 500px;
    border-radius: 5px;
}
.main .info button{
   background-color: gray;
   color: white;
   width: 150px;
   height: 30px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}
.main .info button:hover{
   background-color: #ddd;
   color: black;
}