body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

input[type='text'],select,input[type='number'],button{
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

button{
    background: #4caf5d;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover{
    background: #45a049;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: start;
}
th{
   background: #4caf5d;
   color: white; 
}